.page {
  width: 480px;
  text-align: center;
  margin: 180px auto 0;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text {
  color: #8585ad;
}
.link {
  text-decoration: none;
  color: #4c4cff;
}
